@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", serif, sans-serif;
  }

  .containerMain {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
    padding: 0 4.65rem;
  }

  .containerMain_reviewersText{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .containerMain_reviewersText-starIcon{
    width: 45px;
    height: 45px;
    background-color: #F5C044;
    border-radius: 50%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }

  .containerMain_reviewersText-title{
    font-size: 2.25rem;
    margin-bottom: 16px;
  }

  .containerMain_reviewersText-info{
    font-size: 1.25rem;
    margin-bottom: 32px;
    line-height: 1.8;
  }

  .containerMain_reviewersText_list{
    font-size: 0.875rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .9rem;
  }

  .containerMain_reviewersText_list-item{
    padding-left: 2rem;
    background-image: url('resources/Done_ring_round_fill.svg');
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    height: 1.6rem;
    display: flex;
    align-items: center;
  }