@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", serif, sans-serif;
  }

  .containerMain {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
    padding: 0 4.65rem;
  }

  .containerMain_reviewersText{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .containerMain_reviewersText-starIcon{
    width: 45px;
    height: 45px;
    background-color: #F5C044;
    border-radius: 50%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }

  .containerMain_reviewersText-title{
    font-size: 2.25rem;
    margin-bottom: 16px;
  }

  .containerMain_reviewersText-info{
    font-size: 1.25rem;
    margin-bottom: 32px;
    line-height: 1.8;
  }

  .containerMain_reviewersText_list{
    font-size: 0.875rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .9rem;
  }

  .containerMain_reviewersText_list-item{
    padding-left: 2rem;
    background-image: url('resources/Done_ring_round_fill.svg');
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    height: 1.6rem;
    display: flex;
    align-items: center;
  }

  .containerMain_reviewsExamples{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;
  }

.containerMain_reviewsExamples_card{
  width: 340px;
  border-radius: 12px;
  padding: 25px 34px;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.containerMain_reviewsExamples_card_header{
  display: flex;
  align-items: end;
  gap: 18px;
  margin-bottom: 16px;
}

.containerMain_reviewsExamples_card_header-logo{
  width: 96px;
}

.containerMain_reviewsExamples_card-namePerson{
  font-size: 1rem;
  margin-bottom: 10px;
}

.containerMain_reviewsExamples_card-textReview{
  font-size: 1rem;
  line-height: 1.7;
}

.containerMain_reviewsExamples_card:first-child{
  align-self: flex-end;
}

.containerMain_reviewsExamples_card:last-child{
  align-self: flex-start;
}

.author-info{
  font-size: 14px;
  text-align: center;
  padding: 12px 0;
  color: rgb(55, 65, 81);
}

@media (max-width: 1024px) {
  .containerMain {
    grid-template-columns: 1fr;
    padding: 2.4rem 2.6rem;
  }

  .containerMain_reviewsExamples{
    width: 540px;
    margin: 0 auto;
    gap: 36px;
  }
}

@media (max-width: 640px) {
  .containerMain {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  .containerMain_reviewsExamples{
    width: 100%;
  }

  .containerMain_reviewsExamples_card{
    width: 100%;
  }
}